<header>
  <div class="app-masthead">
    <div class="slds-container--medium slds-container--center slds-p-around--xx-large">
      <h1 class="app-masthead--title slds-text-align--center">Blitz</h1>
      <p class="app-masthead--lead slds-text-align--center">Boilerplate of front-end application with Lightning Desgin System and AngularJS</p>
    </div>
  </div><!-- /.app-masthead -->
</header>

<main>
  <div class="slds-container--medium slds-container--center slds-p-around--xx-large">
    
  </div>
</main>

<footer>
  <div class="app-footer">
    <div class="slds-container--medium slds-container--center slds-p-horizontal--xx-large slds-p-vertical--medium">
      <div class="slds-text-body--small slds-text-align--center">
        <span>Copyright &copy; 2015 flect-miyake. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
